* {
  box-sizing: border-box;
}

body{
  background-image: url("../../assets/image/space-911785.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar{
  display: none
}

.main_title{
  padding: 0 0 2rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Zen Dots",cursive;
  text-shadow: 0 0 2px #fff, 0 0 30px #fff, 0 0 5px #fff, 0 0 150px #fff;
  color: #fff;
  display: flex;
  justify-content: center;
}

